ErrorDocument 400 http://localhost/400
ErrorDocument 401 http://localhost/401
ErrorDocument 403 http://localhost/403
ErrorDocument 404 http://localhost/404
ErrorDocument 406 http://localhost/406
ErrorDocument 500 http://localhost/500
ErrorDocument 503 http://localhost/503

Options +FollowSymlinks
RewriteEngine on
RewriteCond $1 !^(index\.php)

RewriteRule ^400$ views/errors/400.php [nc]
RewriteRule ^401$ views/errors/401.php [nc]
RewriteRule ^403$ views/errors/403.php [nc]
RewriteRule ^404$ views/errors/404.php [nc]
RewriteRule ^406$ views/errors/406.php [nc]
RewriteRule ^500$ views/errors/500.php [nc]
RewriteRule ^503$ views/errors/503.php [nc]

# 1 Query String
RewriteRule ^([a-zA-Z0-9&=_-]+)$ index.php?pages=$1 [QSA,L]
RewriteRule ^([a-zA-Z0-9&=_-]+)/$ index.php?pages=$1 [QSA,L]

# 2 Query String
RewriteRule ^sample/([^/\.]+)/?$ index.php?pages=sample&id=$1 [L]